<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {% block title %}
        <title>添加书籍</title>
    {% endblock title %}
    <link rel="icon" href="{% static 'librarys.ico' %}">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <!-- css 钩子 -->
    {% block css %}

    {% endblock css %}
</head>
<body>
{% block page-header %}
    <!-- 编辑页头 -->
     <h1 class="page-header">添加书籍</h1>
{% endblock page-header %}
<div class='container'>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            {% block form%}
                <!-- {% url 'addBook' %} url 别名 反向解析 -->
            <form action="{% url 'addBook' %}" method="post" novalidate> <!-- novalidate：取消form表单中浏览器默认校验 -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputBookName">书籍名称</label>
                    <input type="text" class="form-control" id="inputBookName" name="inputBookName" placeholder="请输入书籍名称">
                </div>
                <div class="form-group">
                    <label for="inputBookPrice">价格</label>
                    <input type="number" class="form-control" id="inputBookPrice" name="inputBookPrice" placeholder="请输入书籍价格">
                </div>
                <div class="form-group">
                    <label for="inputBookPublishDate">出版日期</label>
                    <input type="date" class="form-control" id="inputBookPublishDate" name="inputBookPublishDate">
                </div>
                <div class="form-group">
                    <label for="selectBookPublisher">出版社</label>
                    <select class="form-control" id="selectBookPublisher" name="selectBookPublisher">
                        <option>请选择出版社</option>
                        {% block publish %}
                        {% endblock publish %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectBookAuthor">作者</label>
                    <select multiple class="form-control" id="selectBookAuthor" name="selectBookAuthor">
                        {% block authors %}
                        {% endblock authors %}
                    </select>
                </div>

                    <button type="submit " class="btn btn-success pull-right add-book-submit">提交</button>
            </form>
            {% endblock form%}
        </div>
    </div>
</div>
</body>
<script>
    {% block js %}
    <!-- js代码 -->
    {% endblock js %}
</script>

<script>
    {% block js-even %}

    {% endblock js-even %}
</script>

</html>