{% extends 'add_book_include.html' %}

{% block title %}
    <title>编辑书籍</title>
{% endblock title %}

{% block page-header %}
    <h1 class="page-header">编辑书籍</h1>
{% endblock page-header %}

{% block form%}
<form action="" method="post"> <!-- action 中什么都不写，默认访问的是当前页面的url -->
    {% csrf_token %}
    <div class="form-group hidden">
        <label for="inputBookID">书籍id</label>
        <input type="text" class="form-control" id="inputBookID" name="inputBookID" value="{{ id }}">
    </div>
    <div class="form-group">
        <label for="inputBookName">书籍名称</label>
        <input type="text" class="form-control" id="inputBookName" name="inputBookName" value="{{ bname }}">
    </div>
    <div class="form-group">
        <label for="inputBookPrice">价格</label>
        <input type="text" class="form-control" id="inputBookPrice" name="inputBookPrice" value="{{ price }}">
    </div>
    <div class="form-group">
        <label for="inputBookPublishDate">出版日期</label>
        <input type="date" class="form-control" id="inputBookPublishDate" name="inputBookPublishDate" value="{{ publishDate|date:'Y-m-d' }}">
    </div>
    <div class="form-group">
        <label for="inputBookPublisher">出版社</label>
        <input type="text" class="form-control" id="inputBookPublisher" name="inputBookPublisher" value="{{ publisher }}">
    </div>
        <button type="submit" class="btn btn-success pull-right update-book-submit">提交</button>
</form>
{% endblock form%}



