<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图书管理系统</title>
</head>
<body>
<div>
    <ol>
        {% for book in all_books %}
            <li>
                {{ forloop.counter }} | {{ book.bname }} | {{ book.price }} | {{ book.publishDate }}|{{ book.publisher }}
            </li>
        {% endfor %}
    </ol>
</div>
</body>
</html>