<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图书管理系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'librarys.ico' %}" rel="icon">
    <style>
        body {
            background: url("{% static 'bird.png' %}") no-repeat right top;
        }

        .login-panel {
            position: relative;
            left: 20%;
            bottom: -200px;

        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-primary login-panel">
                    <div class="panel-heading">&nbsp;</div>
                    <div class="panel-body">
                        <form action="" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="loginName" class="col-xs-3 col-xs-offset-0 control-label">用户名:</label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" id="loginName" name="loginName" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword" class="col-xs-3 col-xs-offset-0 control-label">密码:</label>
                                    <div class="col-xs-9">
                                    <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" class="btn btn-success btn-block">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>