<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图书管理系统</title>
    <link rel="icon" href="{% static 'librarys.ico' %}">
    <style>
        body {
            background: url("{% static 'bg-img.png' %}") ;
        }
        body .login {
            position: relative;
            margin-top: 10%;
            margin-left: 30%;
            color: orange;
        }


    </style>
</head>
<body>
<div class = 'login'>
    <h1 class="text-left page-header">欢迎访问图书管理系统</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">用户名:</label>
            <input type="text" name="username" id="username">
            <label for="password">密码:</label>
            <input type="password" name="password" id="password">
            <input type="button" id="loginBtn" value="登录">
            <span id="error" style="color:red; font-size:14px"></span>
        </div>
    </form>

</div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
    $('#loginBtn').click(function () {
        $.ajax({
            url: "{% url 'login' %}",
            type: 'post',
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                loginName: $('#username').val(),
                loginPwd: $('#password').val(),
            },
            success: function(response){
                res = JSON.parse(response)
                console.log(res)
                code = res['RETCODE']
                msg = res['RETMSG']
                // 逻辑判断
                if (code === '200') {
                    location.href = res['DATA'];
                } else if (code === 'PASSWORD_IS_NULL_ERROR'){
                    $('#error').text(msg)
                }else if (code === 'USERNAME_PASSWORD_ERROR'){
                    $('#error').text(msg)
                }else if (code === 'USERNAME_IS_NULL_ERROR'){
                    $('#error').text(msg)
                }else if (code === 'USERNAME_NOT_EXISTS_ERROR'){
                    $('#error').text(msg)
                }
            }
        })
    })
</script>
</html>