<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<form action="" method="post" novalidate> <!-- 取消浏览器默认校验规则 -->
    {% csrf_token %}
{#    用户名: <input type="text" name="username" placeholder="请输入用户名">#}
{#    密码: <input type="password" name="password" placeholder="请输入密码">#}
    <div>
        <lable for="">{{ form_obj.name.label }}</lable>
        {{ form_obj.name }}
        {{ form_obj.name.help_text }}
        <span style="color: red; font-size: 14px">{{ form_obj.name.errors.0 }}</span>
    </div>
    <div>
        <label for="">{{ form_obj.password.label }}</label>
        {{ form_obj.password }}
        <sapn style="color: red; font-size: 14px">{{ form_obj.password.errors.0 }}</sapn>
    </div>
{#    <div>#}
{#        <label for="">{{ form_obj.sex.label }}</label>#}
{#        {{ form_obj.sex }}#}
{#    </div>#}
{#    <div>#}
{#        <label for="">{{ form_obj.city.label }}</label>#}
{#        {{ form_obj.city }}#}
{#    </div>#}
{#    <div>#}
{#        <label for="">{{ form_obj.hoby.label }}</label>#}
{#        {{ form_obj.hoby }}#}
{#    </div>#}
{#    <div>#}
{#        <label for="">{{ form_obj.girls.label }}</label>#}
{#        {{ form_obj.girls }}#}
{#    </div>#}
{#    <div>#}
{#        <label for="">{{ form_obj.status.label }}</label>#}
{#        {{ form_obj.status }}#}
{#    </div>#}
{#    <div>#}
{#        <label for="">{{ form_obj.birthday.label }}</label>#}
{#        {{ form_obj.birthday }}#}
{#    </div>#}

{#    {{ form_obj.as_p }}#}

    <input type="submit">
</form>
</body>
</html>