<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图书管理系统</title>
    <link rel="icon" href="{% static 'librarys.ico' %}">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- css 样式 -->
    <style>
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>查看书籍<small>show books</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% csrf_token %}
                <div class="form-group">
                    <a href="{% url 'addBook' %}" class="btn btn-primary" id="addBook">添加书籍</a>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>书籍名称</th>
                                    <th>价格</th>
                                    <th>出版日期</th>
                                    <th>出版社</th>
                                    <th>作者</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for book in all_books %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ book.bname }}</td>
                                        <td>{{ book.price }}</td>
                                        <td>{{ book.publishDate|date:'Y-m-d' }}</td>
                                        <td>{{ book.publishs.name }}</td>
                                        <td>{{ book.get_book_authors }}</td>
                                        <td>
                                            <div>
                                                <a type="button" class="btn btn-warning btn-sm" id="editBook" href="{% url 'editBook' book.id %}">编辑</a>
                                                <a type="button" class="btn btn-danger btn-sm" id="delBook" href="{% url 'delBook' book.id %}">删除</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>